*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    color: white;
}

body{
    width: 100%;
    height: 100vh;
    background: hsla(11, 67%, 65%, 1);

    background: linear-gradient(135deg, hsla(11, 67%, 65%, 1) 0%, hsla(34, 86%, 58%, 1) 50%, hsla(225, 60%, 72%, 1) 100%);

    background: -moz-linear-gradient(135deg, hsla(11, 67%, 65%, 1) 0%, hsla(34, 86%, 58%, 1) 50%, hsla(225, 60%, 72%, 1) 100%);

    background: -webkit-linear-gradient(135deg, hsla(11, 67%, 65%, 1) 0%, hsla(34, 86%, 58%, 1) 50%, hsla(225, 60%, 72%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#E17E68", endColorstr="#F0A13A", GradientType=1);

    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.397), -2px -2px 10px rgba(255, 255, 255, 0.349);
    border-radius: 20px;
    padding: 20px;
    width: 270px;
    height: 370px;

    background: hsla(11, 67%, 65%, 1);

    background: linear-gradient(135deg, hsla(11, 67%, 65%, 1) 0%, hsla(34, 86%, 58%, 1) 50%, hsla(225, 60%, 72%, 1) 100%);

    background: -moz-linear-gradient(135deg, hsla(11, 67%, 65%, 1) 0%, hsla(34, 86%, 58%, 1) 50%, hsla(225, 60%, 72%, 1) 100%);

    background: -webkit-linear-gradient(135deg, hsla(11, 67%, 65%, 1) 0%, hsla(34, 86%, 58%, 1) 50%, hsla(225, 60%, 72%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#E17E68", endColorstr="#F0A13A", GradientType=1 );
}

.container .text-area{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 5px;
    background-color: white;
    margin: 10px 0;
    padding: 6px;
}

.container .text-area i{
    color: rgba(0, 0, 0, 0.801);
    font-size: 20px;
    cursor: pointer;
}

.container .text-area i:hover{
    transform: scale(1.1);
}

.container input[type="text"], .container input[type="range"]{
    width: 100%;
    /* margin-top: 10px; */
}

.container input[type="text"]{
    width: 100%;
    background-color: transparent;
    border: 0;
    border-radius: 5px;
    color: black;
    padding-left: 10px;
}

.container .content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 18px 0;
    font-size: 14px;
}

.container .gen-pass{
    width: 100%;
    padding: 8px;
    background-color: rgb(23, 23, 145);
    border-radius: 5px;
    border: 0;
    outline: none;
    cursor: pointer;
    transition: all .4s;
    transform: scale(.9);
}

.container .gen-pass:hover{
    box-shadow: 0 0 20px 1px rgba(32, 32, 32, 0.288);
    transform: scale(1);
}
